<div class="popup" (click)="closePopup()">
   <div class="popup-content">
    <div *ngIf="adherents.length!=0 else template">
        <table>
            <thead>
                <td>firstName</td>
                <td>lastName</td>
                <td>email</td>
                <td>Action</td>
            </thead>
            <tbody>
                    <tr *ngFor="let adhrent of adherents">
                        <td>{{adhrent.firstName}}</td>
                        <td>{{adhrent.lastName}}</td>
                        <td>{{adhrent.email}}</td>
                        <td>
                            <div class="buttons">
                                <button class="btn-danger" (click)="onDelete(adhrent.id)">delete</button>
                                <button class="btn btn-update" (click)="onUpdate(adhrent)">update</button>
                            </div>
                        </td>
                   </tr>
            </tbody>
        </table>
    </div>
   </div>
   <ng-template #template>
     <h2 style="color: white;">Now , doesn't exist any Adherent</h2>
   </ng-template>
</div>